<!-- ==========================================================================
     COMPONENTE: FOOTER
     Pie de página: columnas de enlaces + región + legales.
     ========================================================================== -->

<footer class="footer" id="soporte">

  <div class="container footer__top">

    <div class="footer__col">
      <h4>Examinar</h4>
      <ul>
        <li><a href="#consolas">Consolas Xbox</a></li>
        <li><a href="#accesorios">Accesorios</a></li>
        <li><a href="#gamepass">Xbox Game Pass</a></li>
        <li><a href="#">Juegos</a></li>
      </ul>
    </div>


    <div class="footer__col">
      <h4>Ayuda</h4>
      <ul>
        <li><a href="#">Soporte técnico</a></li>
        <li><a href="#">Estado de Xbox Live</a></li>
        <li><a href="#">Garantía</a></li>
        <li><a href="#">Contactar soporte</a></li>
      </ul>
    </div>


    <div class="footer__col">
      <h4>Comunidad</h4>
      <ul>
        <li><a href="#">Comunidad Xbox</a></li>
        <li><a href="#">Noticias</a></li>
        <li><a href="#">Eventos</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>


    <div class="footer__col">
      <h4>Microsoft</h4>
      <ul>
        <li><a href="#">Cuenta Microsoft</a></li>
        <li><a href="#">Empleo</a></li>
        <li><a href="#">Prensa</a></li>
        <li><a href="#">Privacidad</a></li>
      </ul>
    </div>

  </div>


  <div class="container footer__bottom">

    <p>
      © 2026 PulseX. Proyecto educativo inspirado en videojuegos.
    </p>


    <div class="footer__legal">
      <a href="#">Español (Colombia)</a>
      <a href="#">Privacidad</a>
      <a href="#">Términos de uso</a>
      <a href="#">Cookies</a>
      <a href="#">Accesibilidad</a>
    </div>

  </div>

</footer>